<!DOCTYPE html>
<html lang="en">
<head>
	<title>Search page</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="static/styles.css" />
</head>
<body>
<div id="main">
<h1>Далеко не лучший поиск на планете))))</h1>
<form>
<label>Ваш запрос:</label><input type="text" name="query"></input><br>
<button type="submit" id="button">ПОИСК</button>
</form>
{% for href,name in links %}
<a href="{{ href }}" target="_blank">{{ name }}</a>
{% endfor %}
</div>
</body>
</html>